<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-fragment="layout-enchere(contenuPage, ressourcesSupp)">
<head>
<title>Accueil - ENI-Enchères</title>
<link rel="stylesheet" data-th-href="@{/css/style.css}">
<th:block th:replace="${ressourcesSupp}?:~{}"></th:block>
</head>
<body>

	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>

	<main data-th-replace="${contenuPage}?:~{}"></main>

	<div data-th-replace="~{fragments/fragment-piedpage :: frag-piedpage}"></div>

</body>
</html>
