
<header xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
	data-th-fragment="frag-entete">
	<section id="nav-title">
		<div class="logoTitre">
			<a href="/" class="a-titreSite"> <img
				data-th-src="@{/images/logoENI.jpg}" alt="logo du site"
				class="logoSite">

			</a>
			<h1 class="titreSite">Enchere ENI</h1>
		</div>

		<nav>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="/login">Connexion</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="/register">Inscription</a></li>
				<li sec:authorize="isAuthenticated()"><a
					href="/articles/nouveau">Vendre un article</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/monProfil">Mon
						profil</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/logout">Déconnexion</a></li>
			</ul>

		</nav>

		<div class="divLanguage">
			<a href="/" class="aLanguage"><img alt="Français"
				src="/images/france.png" class="language"> </a><a href="/"
				class="aLanguage"><img alt="English" src="/images/anglais.webp"
				class="language"></a>
		</div>

	</section>
	<div class="titreETencadre">
		<h1 data-th-replace="${titrePage}"></h1>
		<div class="date-container">

			<p
				th:text="'Date du jour : ' + ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></p>
			<p sec:authorize="isAuthenticated()"
				th:text="'Participant : ' + ${#authentication.principal.username}"></p>
		</div>
	</div>
</header>