body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

main {
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    align-self: center;
    margin-bottom: 20px;
}

/* Styles champs formulaire */
form div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

form div label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

form div input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 160px); 
}

/* Styles  full-width */
.full-width {
    display: flex;
    align-items: center;
    width: 100%;
}

.full-width label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

.full-width input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 160px); 
}

/* Styles pour la section adresse */
.adresse {
    display: flex;
    align-items: center;
    width: 100%;
}

.adresse label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

.adresse input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

/*credit-container de profil.css*/
.credit-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.credit-container input {
    max-width: 3ch; 
    text-align: center;
    padding: 8px 2px 8px 8px;
    border: none;
}

.credit-container span {
    margin-left: 1px;
}

.center-div {
	justify-content: center;
} 


/* Styles  boutons */
.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-group a,
.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 15px;
}

.button-group a.button.delete-button {
    background-color: #dc3545; 
}
.button-group button{
    background-color: green; 
}

.button-group a.button.delete-button:hover {
    background-color: #c82333; 

.button-group a.button:hover,
.button-group button:hover {
    background-color: #0056b3;
}
