<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
	data-th-replace="~{layouts/layout :: layout-enchere(contenuPage=~{:: main}, ressourcesSupp=~{:: #ressources-css}, titrePage=~{:: title})}">
<head>
<title>Accueil - ENI-Enchères</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/accueil.css}">
</th:block>
</head>

<body>

	<main>
		<div class="container">
			<div class="filtres">
				<!-- Bouton pour ouvrir la fenêtre modale de filtres -->
				<button id="openFilterModal" class="filter-button">
					<i class="icon-filtre">⚙️ Filtrer</i>
				</button>
				<!-- Formulaire de filtrage qui envoie une requête GET à l'URL de base -->
				<form id="filterForm" th:action="@{/}" method="get">
					<div class="recherche">
						<!-- Champ de saisie pour le mot-clé de recherche -->
						<label for="motCle">Le nom de l'article contient :</label>
						<input type="text" id="motCle" name="motCle" th:value="${param.motCle}">
					</div>

					<!-- Fenêtre modale de filtres -->
					<div id="filterModal" class="modal">
						<div class="modal-content">
							<!-- Bouton pour fermer la fenêtre modale -->
							<span class="close-button">❌</span>
							<div class="categories">
								<!-- Sélecteur de catégorie -->
								<label for="categorie">Catégorie :</label>
								<select id="categorie" name="categorie" onchange="setHiddenCategory()">
									<!-- Option par défaut pour toutes les catégories -->
									<option value="">Toutes</option>
									<!-- Options dynamiques pour chaque catégorie -->
									<option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.libelle}"
										th:selected="${categorie.id == param.categorie}"></option>
								</select>
							</div>
							<div class="block2">
								<!-- Section pour les options de filtrage des achats et des ventes -->
								<div sec:authorize="isAuthenticated()" class="AchatsVentes">
									<!-- Options de filtrage des achats -->
									<div class="radio1">
										<input type="radio" id="achats" name="affichage" value="achats" checked>
										<label for="achats">Achats</label>
										<div class="selectOption" sec:authorize="isAuthenticated()" id="choixAchats">
											<select>
												<option value="ouvertes" th:selected="${param.typeFiltre == 'ouvertes'}">Enchères ouvertes</option>
												<option value="remportees" th:selected="${param.typeFiltre == 'remportees'}">Mes enchères remportées</option>
												<option value="enCours" th:selected="${param.typeFiltre == 'enCours'}">Mes enchères en cours</option>
											</select>
										</div>
									</div>
									<!-- Options de filtrage des ventes -->
									<div class="radio2">
										<input type="radio" id="ventes" name="affichage" value="ventes">
										<label for="ventes">Mes ventes</label>
										<div class="selectOption" sec:authorize="isAuthenticated()" id="choixVentes">
											<select>
												 <option value="enCours" th:selected="${param.typeFiltre == 'enCours'}">Mes ventes en cours</option>
                                                <option value="nonDebutees" th:selected="${param.typeFiltre == 'nonDebutees'}">Mes ventes non débutées</option>
                                                <option value="terminees" th:selected="${param.typeFiltre == 'terminees'}">Mes ventes terminées</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!-- Bouton de soumission dans le modal -->
							<div class="modal-footer">
								<button type="submit" class="submit">Appliquer les filtres</button>
							</div>
						</div>
					</div>

					<!-- Champ caché pour la catégorie sélectionnée -->
					<input type="hidden" id="hiddenCategorie" name="hiddenCategorie" th:value="${param.categorie}">

					<!-- Boutons de soumission et de réinitialisation du formulaire -->
					<button type="submit" class="submit">Rechercher</button>
					<button type="button" class="reset" onclick="resetForm()">Annuler</button>
				</form>
			</div>





			<div class="liste-encheres">
				<h3>Liste des enchères</h3>
				<!-- Message affiché si aucune enchère n'est disponible -->
				<div th:if="${articlesAVendre.isEmpty()}">
					<p>Aucune enchère disponible pour le moment.</p>
				</div>
				<!-- Affichage de la liste des enchères -->
				<div class="grid" th:unless="${articlesAVendre.isEmpty()}">
					<article th:each="article : ${articlesAVendre}" class="enchere-item">
						<!-- Lien vers les détails de l'article avec image -->
						<a class="enchere-image" th:href="@{/articles/{id}(id=${article.id})}">
							<img th:if="${article.photo != null}" th:src="@{${'/images/' + article.photo}}"
								alt="Image de l'article">
							<img th:if="${article.photo == null}" th:src="@{/images/default.jpg}" alt="Image par défaut">
						</a>
						<!-- Détails de l'enchère -->
						<div class="enchere-details">
							<h4 th:text="${article.nom}">Nom de l'article</h4>

							<!-- TODO: Vérifier si ce champ est nécessaire -->
							<!-- <input data-th-value="${utilisateur.pseudo}" name="pseudo" hidden="true"> -->
							<p class="enchere-prix">
								Prix :
								<span th:text="${article.prixInitial} + ' Pts'">Prix de départ</span>
							</p>
							<p class="enchere-fin">
								Fin de l'enchère :
								<span th:text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy')}">Date de fin</span>
							</p>
							<p class="enchere-vendeur">
								Vendeur :
								<span th:text="${article.nomVendeur}"></span>
							</p>
						</div>
						<!-- Bouton pour accéder aux détails de l'article -->
						<a class="btn-details" th:href="@{/articles/{id}(id=${article.id})}">Détails</a>
					</article>
				</div>
			</div>
		</div>
		<!-- Script JavaScript pour gérer l'ouverture et la fermeture de la fenêtre modale de filtres -->
		<script>
		// Récupération des éléments du DOM
		const openFilterModalButton = document.getElementById('openFilterModal');
		const filterModal = document.getElementById('filterModal');
		const closeButton = document.querySelector('.close-button');
		
		// Événement pour ouvrir la fenêtre modale
		openFilterModalButton.addEventListener('click', () => {
		    filterModal.style.display = 'block';
		});
		// Événement pour fermer la fenêtre modale
		closeButton.addEventListener('click', () => {
		    filterModal.style.display = 'none';
		});
		// Événement pour fermer la fenêtre modale en cliquant à l'extérieur
		window.addEventListener('click', (event) => {
		    if (event.target === filterModal) {
		        filterModal.style.display = 'none';
		    }
		});
		function setHiddenCategory() {
            const selectedCategory = document.getElementById('categorie').value;
            document.getElementById('hiddenCategorie').value = selectedCategory;
        }
		// Fonction pour réinitialiser le formulaire et recharger la page
        function resetForm() {
            document.getElementById('motCle').value = '';
            document.getElementById('categorie').selectedIndex = 0;
            document.getElementById('hiddenCategorie').value = '';
            document.getElementById('filterForm').submit(); // Soumettre le formulaire après réinitialisation
        }
		</script>
	</main>
</body>
</html>
