<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-enchere(
														        titrePage=~{:: title},
														        contenuPage=~{:: main},
														        ressourcesSupp=~{:: #ressources-css})}">
<head>
    <meta charset="UTF-8">
    <title>Mon Profil</title>
    <th:block id="ressources-css">
    	<link rel="stylesheet" data-th-href="@{/css/profil.css}" />
    </th:block>
</head>

<body>
	<main>
	    <form data-th-action="@{/monProfil}" data-th-object="${utilisateur}" method="get">
	        <h1 data-th-text="${utilisateur.pseudo}"></h1>
	        <div>
	            <label>Prénom :</label>
	            <input type="text" data-th-value="${utilisateur.prenom}" readonly/>
	        </div>
	        <div>
	            <label>Nom :</label>
	            <input type="text" data-th-value="${utilisateur.nom}" readonly/>
	        </div>
	        <div>
	            <label>Email :</label>
	            <input type="text" data-th-value="${utilisateur.email}" readonly/>
	        </div>
	        <div>
	            <label>Téléphone :</label>
	            <input type="text" data-th-value="${utilisateur.telephone}" readonly/>
	        </div>
	         <div>
	            <label>Mes points :</label>
	            <span >[en construction]</span>
	        </div>
	        <div>
	            <a data-th-href="@{/monProfil/modifier}" class ="button" >Modifier</a>
	        </div>
	    </form>
	</main>
</body>
</html>
