<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourcesSupp=~{:: #ressources-css})}">
<head>
    <meta charset="UTF-8">
    <title> Profil</title>
    <th:block id="ressources-css">
    	<link rel="stylesheet" data-th-href="@{/css/profil-update.css}" />
    	<link rel="stylesheet" data-th-href="@{/css/tp-error.css}" />
    </th:block>
</head>		

<body>
	<main>
	    <h1>Mon Profil</h1>
	    <th:block data-th-if="${!#strings.isEmpty(action)}"> 
			<div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div> 
		</th:block>	
		
	    <form action="#" data-th-action="@{/monProfil/modifier}" method="post" data-th-object ="${utilisateur}">
	        <div>
	            <label for="pseudo">Pseudo :</label>
	            	<span data-th-text="${#authentication.principal.username}"></span>
	            	
	            <label id="inputName" for="nom">Nom(*):</label>
	           	<input id="inputName" type="text" name="nom" data-th-field="*{nom}"required>
					<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div> 

	        </div>
	        
	        
	        <div>
	            <label id="inputForname" for="prenom">Prénom(*):</label>
	            <input id="inputForname" type="text" name="prenom" data-th-field="*{prenom}"required>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></div> 

	            
	            <label id="inputMail" for="email">Email(*):</label>
	            <input id="inputMail" type="email"  name="email" data-th-field="*{email}" required>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('email')}"></div> 
	        </div>
	        
	        
	        <div class="full-width">
	            <label id="inputPhone" for="telephone">Téléphone:</label>
	            <input id="inputPhone" type="tel" name="telephone" data-th-field="*{telephone}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('telephone')}"></div> 
	        </div>
	        
	        
	        <div class="adresse">
	            <label id="inputAdress" for="adresse">Adresse (*):</label>
	            <input id="inputAdress" type="text" name="adresse" data-th-field="*{adresse.rue}" required>
	            <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.rue')}"></div>
	            
	            <input type="text" id="codePostal" name="codePostal" data-th-field="*{adresse.codePostal}" required>
	            <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.codePostal')}"></div>
	            
	            <input type="text" id="ville" name="ville" data-th-field="*{adresse.ville}" required>
	            <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.ville')}"></div>
	        </div>


	        <div class="full-width">
	            <label for="credit">Mon crédit:</label>
	            <span > Mes points [en construction]</span>
	        </div>
	        
	        
	        <div class="button-group">
	        	<!--  type button à passer en submit une fois la validation bien définit -->
	            <button type="submit">Modifier</button>
	            <a href="@{/monProfil/modifier/changeMdp}">Modifier Mot de passe</a> <!--  A faire plus tard  1-->
	            <a href="@{/monProfil}">Supprimer Compte</a> <!--  A faire plus tard 2-->
	            <a href="@{/monProfil}">Annuler</a>
	        </div>
	    </form>
    </main>
</body>
</html>