<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourcesSupp=~{:: #ressources-css})}">
<head>
    <meta charset="UTF-8">
    <title> Profil</title>
    <th:block id="ressources-css">
    	<link rel="stylesheet" data-th-href="@{/css/profil-update.css}" />
    	<link rel="stylesheet" data-th-href="@{/css/tp-error.css}" />
    </th:block>
</head>		

<body>
	<main>
	    <h1>Mon Profil</h1>
	    <p class="cards" data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}"></p>
		
	    <form action="#" data-th-action="@{/monProfil/modifier}" method="post" data-th-object ="${utilisateur}">
	        <div>
	            <label for="pseudo">Pseudo :</label>
	            <!--  Input caché -->
	            	<span data-th-text="${#authentication.principal.username}"></span>
	            	<input data-th-value="${utilisateur.pseudo}" name="pseudo" hidden="true">
	         
	            <label id="inputName" for="nom">Nom(*):</label>
	           	<input id="inputName" type="text" name="nom" data-th-field="*{nom}"required>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div> 
	        </div>
	        
	        <div>
	            <label id="inputForname" for="prenom">Prénom(*):</label>
	            <input id="inputForname" type="text" name="prenom" data-th-field="*{prenom}"required>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></div> 

	            
	            <label  for="email">Email(*):</label>
	            <input  type="email"  name="email" data-th-field="*{email}" required>
				 <div th:if="${#fields.hasErrors('email')}" class="cards">
        <ul>
            <li th:each="error : ${#fields.errors('email')}" th:text="${error.defaultMessage}"></li>
        </ul>
    </div>
	        </div>
	        
	        
	        <div class="full-width">
	            <label id="inputPhone" for="telephone">Téléphone:</label>
	            <input id="inputPhone" type="tel" name="telephone" data-th-field="*{telephone}">
	        </div>
	        
	        
	        <div class="adresse">
	            <label id="inputAdress" for="adresse">Adresse (*):</label>
	            <input id="inputAdress" type="text" name="adresse" data-th-field="*{adresse.rue}" required>
	            <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.rue')}"></div>
	            
	            <input type="text" id="codePostal" name="codePostal" data-th-field="*{adresse.codePostal}" required>
	            <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.codePostal')}"></div>
	            
	            <input type="text" id="ville" name="ville" data-th-field="*{adresse.ville}" required>
	            <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.ville')}"></div>
	        </div>


	        <div class="credit-container">
	            <label>Mon crédit :</label>
	            <input type="text"  data-th-value="${utilisateur.credit}" readonly/>
	            <span> point(s)</span>
	        </div>
	        
	        
	        <div class="button-group">
	            <button type="submit">Modifier</button>
	            <a data-th-href="@{modifier/changeMdp}">Modifier Mot de passe</a> <!--  A faire juste après-->
	            <a data-th-href="@{/monProfil}">Annuler</a>
	            <a class="button delete-button" data-th-href="@{/monProfil}">Supprimer Compte</a> <!--  itération 3-->
	        </div>
	    </form>
	    
    </main>
</body>
</html>