<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourcesSupp=~{:: #ressources-css})}">
<head>
<meta charset="UTF-8">
<title>S'enregistrer</title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/profil-update.css}" />
</th:block>
</head>
<body>
	<main>0
			<h1>Nouveau Profil</h1>
			<form th:action="@{/register}" method="post">
				<label for="pseudo">Pseudo (*):</label>
				<input type="text" id="pseudo" name="pseudo" required />

				<label for="nom">Nom (*):</label>
				<input type="text" id="nom" name="nom" required />

				<label for="prenom">Prénom (*):</label>
				<input type="text" id="prenom" name="prenom" required />

				<label for="email">Email (*):</label>
				<input type="email" id="email" name="email" required />

				<label for="telephone">Téléphone:</label>
				<input type="text" id="telephone" name="telephone" />

				<label for="adresse">Adresse (*):</label>
				<div>
					<input type="text" id="rue" name="rue" placeholder="Rue" required />
					<input type="text" id="codePostal" name="codePostal" placeholder="Code Postal" required />
					<input type="text" id="ville" name="ville" placeholder="Ville" required />
				</div>

				<label for="motDePasse">Mot de passe (*):</label>
				<input type="password" id="motDePasse" name="motDePasse" required />

				<label for="confirmation">Confirmation (*):</label>
				<input type="password" id="confirmation" name="confirmation" required />

				<div class="button-group">
					<button type="submit">Créer</button>
					<button type="button">Annuler</button>
				</div>
			</form>
	</main>

</body>
</html>
